<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--MSSQL Connectionstring-->
  <add name="sqldefault"
       connectionString="Server =.; Database = G2Systems; Trusted_Connection = True; Timeout = 3"
       providerName="System.Data.SqlClient"/>
  <add name="sqlexpress"
       connectionString="Server =.\SQLEXPRESS; Database = G2Systems; Trusted_Connection = True; Timeout = 3"
       providerName="System.Data.SqlClient"/>
  <add name="sqlcustom"
       connectionString="Server =(LocalDB)\MSSQLLocalDB; Database = G2Systems; Trusted_Connection = True; Timeout = 1"
       providerName="System.Data.SqlClient"/>
</configuration>