<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <!--MSSQL Connectionstring-->
    <add name="sqldefault"
         connectionString="Server =.; Database = G2Libsys; Trusted_Connection = True; Timeout = 3"
         providerName="System.Data.SqlClient"/>
    <add name="sqlexpress"
         connectionString="Server =.\SQLEXPRESS; Database = G2Libsys; Trusted_Connection = True; Timeout = 3"
         providerName="System.Data.SqlClient"/>
    <add name="sqlcustom"
         connectionString="Server =(LocalDB)\MSSQLLocalDB; Database = G2Libsys; Trusted_Connection = True; Timeout = 3"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>